.about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__container h2 {
    font-size: 2.5em;
}

.about__content {
    margin: 25px 0;
    font-size: 1.25em;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.about__content img {
    /* width: 50%; */
    /* height: 50%; */
}

.about__content_text {
    min-width: 50%;
}