.landing__container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing__logo {
    width: 100%;
    font-size: 3.5em;
}

.landing__msm_logo {
    padding: 25px;
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    from {
      transform: rotate3d(0, 1, 0, 0deg);
    }
    to {
      transform: rotate3d(0, 1, 0, 360deg);
    }
  }
  

  @media only screen and (max-width: 600px) {
    .landing__logo {
        font-size: 2.5em;
    }
    .landing__msm_logo {
        width: 90px;
        height: 180px;
    }
  }