.landing__container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing__logo {
    width: 100%;
    font-size: 3.5em;
}

.landing__msm_logo {
    padding: 30px;
}