.nav__container {
    height: 85px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav__links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
}

.nav__links li {
    list-style: none;
}

.nav__link {
    text-decoration: none;
}

.nav__link:visited {
    color: inherit;
}

.nav__container_burger {
    /* background-color: lightgray; */
    height: 100vh;
    width: 40vw;
    position: fixed;
    left: 0;
    z-index: 10;
}

.hamburger {
    display: fixed;
    padding-top: 10px;
    margin-left: 10px;
    z-index: 10;
}

@media (min-width: 780px) {
    .hamburger {
        display: none;
    }
}