.works__container {
    text-align: center;
}

.works__images {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.works__image {
    position: relative;
    padding: 20px;
    width: 100vw;
    height: 300px;
}