.works__container {
    height: 2400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works__wrapper {
    position: relative;
    width: 100vw;
    max-width: 1080px;
    height: 100%;
    margin: 10px 0;
}

.image {
    height: auto;
}